# $schema: https://www.schemastore.org/github-workflow.json
name: build-browser-extension

on:
  workflow_call:
    inputs:
      extension-name:
        required: true
        type: string
        description: The name of the image.
      release-version:
        required: true
        type: string
        description: Version to release.
      directory:
        required: false
        type: string
        description: Directory of where source code is found for browser extension.
        default: src

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - run: zip -r "${{ inputs.extension-name }}.${{ inputs.release-version }}.zip" ${{ inputs.directory }}
