# $schema: https://www.schemastore.org/github-workflow.json
name: release-skaffold

# For the rare occasion where you need to run Skaffold in a pipeline.
# Generally, you should deploy things using a dedicated GitOps CD tool like Argo CD or Flux.

on:
  workflow_call:
    inputs:
      gcp-project-id:
        required: true
        type: string
        description: The Google Cloud Platform project ID where the GKE cluster is found.
      gke-cluster-location:
        required: true
        type: string
        description: The location that the GKE cluster is found in.
      gke-cluster-name:
        required: true
        type: string
        description: The name of the GKE cluster to deploy to.
      runtime-environment:
        required: false
        type: string
        description: The name of the runtime environment that you're deploying to. The environment variable `runtime_environment` will be set to this string, for use in Skaffold files for targeting environments.
        default: unknown
      skaffold-file:
        required: false
        type: string
        description: Path to skaffold file you want to run.
        default: skaffold.yaml

jobs:
  skaffold-run:
    permissions:
      contents: read
      id-token: write # Fetch OIDC Token for GCP Auth
    runs-on: ubuntu-latest # Google Cloud CLI is already installed on `ubuntu-latest` runner image.
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      # Install skaffold, as per: https://skaffold.dev/docs/install/
      - run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          sudo install skaffold /usr/local/bin/
      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3
        with:
          workload_identity_provider: projects/401363556022/locations/global/workloadIdentityPools/github/providers/github-oidc
          service_account: automation@automation-220928.iam.gserviceaccount.com
      - uses: google-github-actions/get-gke-credentials@3da1e46a907576cefaa90c484278bb5b259dd395 # v3
        with:
          cluster_name: ${{ inputs.gke-cluster-name }}
          location: ${{ inputs.gke-cluster-location }}
          project_id: ${{ inputs.gcp-project-id }}
      - env:
          runtime_environment: ${{ inputs.runtime-environment }}
        run: skaffold run --filename ${{ inputs.skaffold-file }}
