# $schema: https://www.schemastore.org/github-workflow.json
name: release-browser-extension

on:
  workflow_call:
    inputs:
      extension-name:
        required: true
        type: string
        description: Name of the browser extension.
      release-version:
        required: true
        type: string
        description: Version to release.
      directory:
        required: false
        type: string
        description: Directory of where source code is found for browser extension.
        default: src

jobs:
  release:
    permissions:
      contents: 'write' # Need write permission in order to create release with
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: zip -r "${{ inputs.extension-name }}.${{ inputs.release-version }}.zip" ${{ inputs.directory }}
      - run: gh release create ${{ inputs.release-version }} ${{ inputs.extension-name }}.${{ inputs.release-version }}.zip
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Need GH_TOKEN for gh CLI auth
