# $schema: https://www.schemastore.org/github-workflow.json
name: verify-python-project

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
        description: Modules, packages and/or files to target.

jobs:
  pylint:
    permissions:
      contents: 'read'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version-file: .python-version
      - run: pip install -r requirements.txt
      - run: pylint ${{ inputs.target }}
