# $schema: https://www.schemastore.org/github-workflow.json
name: verify-javascript-project

on:
  workflow_call:

jobs:
  npm-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 19
      - run: npm clean-install
      - run: npm test
